@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ol,
ul {
    margin: 1em;
    padding: 0;
}

ol {
    list-style: auto;
}

ul {
    list-style: disc;
}

li {
    margin-bottom: 6px;
}

a {
    color: #9489DB;
}

/* FONTS */
.ibarra-sub-title-h2 {
    font-family: Ibarra Real Nova, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 0.3em;
}

.ibarra-sub-title-h2-purple {
    font-family: Ibarra Real Nova, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 49px;
    color: #9489DB;
    margin-bottom: 0.1em;
} 


.lato-small-paragraph-title-h4 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 28px !important;
    color: #000000;
}


.lato-small-paragraph-title-h4-purple {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 28px !important;    
    color: #9489DB;
}


.lato-paragraph-text-p {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.lato-paragraph-text-p-red {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #f06464;
}

.lato-paragraph-text-p-purple {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9489DB;
}

.footer-links {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #000000 !important;
}

.footer-links:hover {
    text-decoration: underline;
}

/* BUTTONS */
.button {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.primary-button-red {
  background: #f06464;
  border-radius: 8px;
  color: #ffffff;
  width: max-content;
}

.secondary-button-red {
  background: #ffffff;
  border: 1px solid #f06464;
  border-radius: 8px;
  color: #f06464;
  width: max-content;
}

.primary-button-purple {
    background: #9489db;
    border-radius: 8px;
    color: #ffffff;
    width: max-content;
  }

.secondary-button-purple {
    background: #ffffff;
    border: 1px solid #9489db;
    border-radius: 8px;
    color: #9489db;
    width: max-content;
  }

/* BACKGROUNDS */
.strong-gradient-background {
  background: linear-gradient(
        96.78deg,
        #fef7f8 -6.3%,
        #fbf6fa 35.9%,
        #e9f2f5 100.12%
      )
      padding-box,
    linear-gradient(
        114.59deg,
        #f06464 1.6%,
        #f277d0 32.79%,
        #9489db 71.64%,
        #37d1e5 101.91%,
        #5acfb9 131.52%
      )
      border-box;
}

.light-grey-background {
  background: #eeeeee !important;
}

.dark-grey-background {
  background: #dddddd !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.container-row {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap; 
  }

  .container-column {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
  }

.max-width-80 {
    max-width: 80%;
}

.border-radius-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.border-radius-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.border-radius {
    border-radius: 8px !important;
}
/* ////////////////// */

.margin-right {
    margin-right: 1em;
}

.margin-bottom {
    margin-bottom: 1em !important;
}

.wittyworks-accept-invite-wrapper {
    font-size: 14px;
    line-height: 17px;
    color: #656565;
}

.guidelines-form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 1em;
}

.guidelines-form-section--apply-for-all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.guidelines-form-section-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.guidelines-form-section-toggle {
    margin-right: 1em;
}

.guidelines-form-section-dropdown-wrapper {
    display: flex;
    flex-direction: column;
}

.guidelines-form-section-dropdown {
    width: 255px;
}

.guidelines-form-tagline {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 1em;
}

.witty-teams-only {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px 4px;

    background: linear-gradient(114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%);
    border-radius: 4px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    vertical-align: middle;
}

/* TOGGLE */
.switch {
    position: relative;
    display: inline-block;
    min-width: 36px;
    height: 20px;
    margin-right: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    min-width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5FCA7D;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wittyworks-navigation-content-wrapper {
    flex-direction: column;
    height: 100vh;
    padding: 12px 24px;
    background: linear-gradient(139.06deg,
            #f06464 12.41%,
            #f277d0 51.43%,
            #9489db 100.03%,
            #37d1e5 137.9%,
            #5acfb9 174.94%);
}

.wittyworks-navigation-content-wrapper--burger {
    flex-direction: column;
    height: 100vh;
    padding: 12px 24px;
    background: linear-gradient(139.06deg,
            #f06464 12.41%,
            #f277d0 51.43%,
            #9489db 100.03%,
            #37d1e5 137.9%,
            #5acfb9 174.94%);
    min-width: 100%;
}

.navigation-link {
    font-size: 18px;
    color: white;
}

.navigation-link:hover {
    text-decoration: underline;
}

.navigation-link--language {
    font-size: 14px;
    color: black;
    margin-right: 1em;
    cursor: pointer;
}

.navigation-link--language:hover {
    text-decoration: underline;
}

.navigation-link-active {
    text-decoration: underline;
}

.navigation-user-info {
    color: white;
}

.tab-navigation-link {
    font-size: 18px;
}

.tab-navigation-link:hover {
    text-decoration: underline;
    background-color: rgb(243 244 246);
}

.tab-navigation-link-active {
    text-decoration: underline;
    background-color: rgb(243 244 246);
}

.wittyworks-upgrade-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 1em;

    background: linear-gradient(96.78deg,
            #fef7f8 -6.3%,
            #fbf6fa 35.9%,
            #e9f2f5 100.12%) padding-box,
        linear-gradient(114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%) border-box;
}

.wittyworks-upgrade-banner-title {
    font-weight: 700;
    margin: 4px 0px;
    font-size: 18px;
    color: #9489db;
}

.wittyworks-upgrade-banner-text {
    font-weight: normal;
    color: #9489db;
}

.flash-message {
    margin-bottom: 0;
}

.wittyworks-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1em 1em 1em 23%;
}

.wittyworks-footer-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 15%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.wittyworks-footer-language-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6em;
    margin-right: 2em;
    margin-left: auto;
}

.wittyworks-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.wittyworks-page {
    margin-top: 1em;
    max-width: 60%;
    min-height: 100vh;
}

.wittyworks-page-subscription {
    margin-bottom: 2em;
    min-width: 58%;
    max-width: 60%;
}

.wittyworks-page-academy {
    margin-top: 1em;
    margin-left: 2em;
    min-width: 58%;
    min-height: 100vh;
}

.wittyworks-navigation-wrapper {
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 15%;
    min-width: 15em;
    z-index: 9999;
}

.wittyworks-logo {
    margin-top: 1em;
}

.wittyworks-navigation-label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
    color: #FFFFFF !important;
    cursor: default;
}

.wittyworks-navigation-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
    color: #FFFFFF !important;
    cursor: pointer;
}

.wittyworks-navigation-icon {
    margin-right: 1em;
}

.wittyworks-navigation-bottom-half {
    position: fixed;
    bottom: 2em;
}

.wittyworks-navigation-top-half {
    margin-top: 2em;
}

.wittyworks-navigation-sub-wrapper {
    margin-left: 2.7em;
    margin-top: -1em;
    margin-bottom: 1em;
}

.wittyworks-navigation-sub-link {
    color: #FFFFFF !important;
}

.wittyworks-navigation-sub-link:hover {
    text-decoration: underline;
}

.wittyworks-navigation-username {
    color: #FFFFFF !important;
    margin-left: 2.6em;
    margin-top: -1.5em;
}

.wittyworks-navigation-account-toggle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.wittyworks-navigation-item:hover {
    text-decoration: underline;
}

.wittyworks-navigation-account-divider {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.wittyworks-form-section {
    margin-bottom: 1em;
}

.wittyworks-form-section-wrapper {
    margin-bottom: 3em;
}

.wittyworks-video-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
}

.wittyworks-team-name {
    cursor: pointer;
}

.wittyworks-team-name:hover {
    text-decoration: underline;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.wittyworks-accept-invite-team-name {
    font-weight: 600;
    color: #9489DB;
    margin-bottom: 0.3em;
}

.wittyworks-license-dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.wittyworks-margin-right {
    margin-right: 1em;
}

.wittyworks-margin-top {
    margin-top: 1em;
}

/* ANALYTICS */
.wittyworks-analytics-chart-extra-large {
    max-width: 1000px;
}

.wittyworks-analytics-chart-large {
    max-width: 400;
}

.wittyworks-analytics-chart-medium {
    max-width: 410px;
}
.wittyworks-analytics-chart-medium-radar {
    max-width: 600px;

}
.wittyworks-analytics-chart-small {
    max-width: 195px;
    min-height: 150px;
    max-height: 150px;
}

/* LOADING SPINNER */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9489DB;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .loading-icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
  }
[type='radio'] {
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

.limit-reached {
  color: #f06464;
  margin: 1rem 0;
}

.red {
  color: #f06464;
}

.wittyworks-analytics-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.wittyworks-analytics-chart-large {
    max-width: 1000px;
}
.wittyworks-analytics-chart-medium {
    max-width: 450px;
}
.wittyworks-analytics-chart-small {
    max-width: 300px;
}
